@tailwind base;
@tailwind components;
@tailwind utilities;

.slider-container1 .slick-prev{
    width:30px !important;
    height:50px !important;
    left:15px !important;
    background-color: white !important;
    z-index: 99;

}
.slider-container1 .slick-next{
    width:30px !important;
    height:50px !important;
    right:14px !important;
    background-color: white !important;
    z-index: 99;

}
.slider-container1 .slick-prev:hover{
    width:30px !important;
    height:50px !important;
    background-color: white !important;
    
}
.slider-container1 .slick-prev::before{
    color:black !important
}
.slider-container1 .slick-next:hover{
    width:30px !important;
    height:50px !important;
    background-color: white !important;
    
}
.slider-container1 .slick-next::before{
    color:black !important
}
.slider-container1 .slick-dots{
    bottom:20px !important
}
.slider-container1 .slick-dots li button:before {
    color:white !important;
    font-size: 20px;
     line-height: 50px;
    
 }
 
 .slider-container1 .slick-active{
    color:white !important;   
}

.slider-container2 {
    width: 100%;
    min-height: 296px; /* Minimum height, but flexible */
    display: flex;
    flex-direction: column;
    
}

.slider-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensures full height of the item */
}

.slider-image {
    width: 100%;  /* Ensures image takes full width */
    height: 60vh !important; /* Makes sure the aspect ratio is maintained */
    object-fit: cover; 
}

.slider-container2 .slick-next{
    visibility: hidden; 
    right:0 !important
}

.slider-container2 .slick-prev{
    visibility: hidden;
    left:0 !important
}